{if !request()->isPjax()}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block name="title"}{$_location[count($_location)-1]['title']}{/block} | {:config('app.web_site_title')}-devbuluo</title>
    <link rel="stylesheet" href="__DUI__/css/dui.min.css">
    <link rel="stylesheet" href="__ADMIN_CSS__/admin.min.css">
    <link rel="stylesheet" href="__ADMIN_CSS__/nprogress.css">
    <script src="__DUI__/js/dui.min.js" config-base="__ADMIN_JS__/" exec-plugin="admin"></script>
</head>
<body>
<div class="dui-admin">
    {include file='../app/admin/view/public/navbar.html'/}
    {include file='../app/admin/view/public/sidebar.html'/}
    <div class="dui-admin__container" id="pjax-container">
{/if}
{if !$_pop && $_page_breadcrumb}
    {include file='../app/admin/view/public/breadcrumb.html'/}
{/if}
        {if request()->isPjax()}
        <title>{block name="title"}{$_location[count($_location)-1]['title']}{/block} | {:config('app.web_site_title')}-devbuluo</title>
        {/if}
        <div class="dui-admin__body">
            {block name='content'}{/block}
        </div>
{if !request()->isPjax()}
    </div>
</div>
</html>
{/if}