<div class="dui-breadcrumb">
    {volist name="_location" id="breadcrumb"}
    {if $key<4}
    <span class="dui-breadcrumb__item">
        {if $key==count($_location)-2 && count($_location)==4}
        <a href="{:url($breadcrumb['url_value'])}" class="dui-breadcrumb__inner is-link">{$breadcrumb.title}</a>
        {else/}
        <span class="dui-breadcrumb__inner">{$breadcrumb.title}</span>
        {/if}
        <span class="dui-breadcrumb__separator">/</span>
    </span>
    {/if}
    {/volist}
</div>