<div class="dui-admin__aside">
    <div class="dui-admin__aside-inner">
        <div class="dui-admin__logo" style="background: #409eff">
            <span class="dui-admin__logo-large">DuiAdmin Pro</span>
            <span class="dui-admin__logo-mini">DAP</span>
        </div>
        {volist name='_role_all_menu' id='appLayer'}
        <ul dui-menubar class="dui-menu" openonly data-id="{$appLayer.id}" {if $appLayer.id!=$_location[0]['id']}style="display: none;"{/if}>
            {notempty name="appLayer.child"}
            {volist name='appLayer.child' id='controllerLayer'}
            <li class="dui-submenu{if $controllerLayer.id==$_location[1]['id'] || $key==0} is-opened{/if}">
                <div class="dui-submenu__title{if $controllerLayer.id==$_location[1]['id']} is-active{/if}" style="padding-left: 20px;">
                    <i class="{if $controllerLayer.icon}{$controllerLayer.icon}{else/}dui-icon-link{/if}"></i> 
                    <span>{$controllerLayer.title}</span>
                    <i class="dui-submenu__icon-arrow dui-icon-arrow-down"></i>
                </div>
                <ul class="dui-menu dui-menu--inline" {if !($controllerLayer.id==$_location[1]['id'] || ($appLayer.id!=$_location[0]['id'] && $key==0))}style="display:none"{/if}>
                {notempty name='controllerLayer.child'}
                {volist name='controllerLayer.child' id='actionLayer'}
                <li>
                    <a class="dui-menu-item{if $actionLayer.id==$_location[2]['id']} is-active{/if}" jump jump-mode="{$actionLayer.url_target}" style="padding-left: 40px;" href="{$actionLayer.url_value}">
                        <i class="dui-icon-menu"></i> 
                        <span>{$actionLayer.title}</span>
                    </a>
                </li>
                {/volist}
                {/notempty}
                </ul>
            </li>
            {/volist}
            {/notempty}
        </ul>
        {/volist}
    </div>
</div>