<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BaseAdmin-后台登录</title>
    <link rel="stylesheet" href="__ADMIN_JS__/login.css">
    <link rel="stylesheet" href="__DUI__/css/dui.min.css">
</head>
<body>
    <div class="aiui-col-xs login-main">
        <div class="login-box">
            <div class="login-header">
                <h2>开发者部落</h2>
                <p>dui整合thinkphp打造的后台管理系统</p>
            </div>
            <div class="login-body">
                <form class="dui-form" dui-form method="POST">
                    <div class="dui-form-item">
                        <h3 class="login-title">登录</h3>
                    </div>
                    <div class="dui-form-item">
                        <div class="dui-form-item__content">
                            <div class="dui-input">
                                <input type="text" class="dui-input__inner" name="username" placeholder="用户名">
                            </div>
                        </div>
                    </div>
                    <div class="dui-form-item">
                        <div class="dui-form-item__content">
                            <div class="dui-input">
                                <input type="password" class="dui-input__inner" name="password" placeholder="密  码">
                            </div>
                        </div>
                    </div>
                    <div class="dui-form-item" style="position:relative">
                        <div class="dui-form-item__content">
                            <div class="dui-input">
                                <input type="text" class="dui-input__inner" name="captcha" placeholder="验证码">
                            </div>
                        </div>
                        <div class="login-captcha-div">
                            <img src="{:captcha_src()}" id="captcha" alt="captcha" style="width:100%;height:100%;cursor:pointer"/>
                        </div>
                    </div>
                    <div class="dui-form-item">
                        <div class="dui-form-item__content">
                            <button type="button" class="dui-button dui-button--primary is-fluid" id="login">登录</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="login-footer">
                
            </div>
        </div>
    </div>
</body>
    <script src="__DUI__/js/dui.min.js"></script>
    <script>
    dui.use(['jquery','form','popup'],function($,form,popup){
        //验证码切换事件
        $('#captcha').on('click',function(){
            this.src = "{:captcha_src()}?d="+Math.random();
        })
        //点击登录方法
        $('#login').on('click',function(){
            var data = {
                lang:$('form[dui-form]').find('[name="lang"]').val(),
                username:$('form[dui-form]').find('[name="username"]').val(),
                password:$('form[dui-form]').find('[name="password"]').val(),
                captcha:$('form[dui-form]').find('[name="captcha"]').val(),
            };
            if(!data.username){
                popup.message('请输入用户名',{
                    type:'error',
                    duration:'3000',
                    showClose:true
                });
                return;
            }
            if(!data.password){
                popup.message('请输入密码',{
                    type:'error',
                    duration:'3000',
                    showClose:true
                });
                return;
            }
            if(!data.captcha){
                popup.message('请输入验证码',{
                    type:'error',
                    duration:'3000',
                    showClose:true
                });
                return;
            }
            $.ajax({
                data:data,
                type:"post",
                dataType:'json',
                url:'{:url("login")}',
                success:function(res){
                    if(res.code==1){
                        popup.message(res.msg,{
                            type:'success',
                            duration:'3000',
                            showClose:true,
                            onClose:function(){
                                window.location.href = '{:url("admin/index/index")}'
                            }
                        });
                    }else{
                        // 设置验证为空
                        $('form[dui-form]').find('[name="captcha"]').val('');
                        popup.message(res.msg,{
                            type:'error',
                            duration:'3000',
                            showClose:true,
                            onClose:function(){
                                // 切换验证码
                                $('#captcha').attr('src',"{:captcha_src()}?d="+Math.random());
                            }
                        });
                    }
                }
            })
        })
    })
    </script>
</html>